alias vim='nvim'

alias cfb='vim ~/.bashrc'
alias cfa='vim ~/.aliases'
alias cfv='vim ~/.config/nvim/init.vim'
alias cfi='vim ~/.config/i3/config'
alias cfp='vim ~/.config/polybar/config'
alias cfz='vim ~/.zshrc'
alias py='python3'
alias s='cd /home/sturmkoenig/Programs/scripts'
alias geo='cd /home/sturmkoenig/Documents/Geologie'
alias app='cd /home/sturmkoenig/Documents/Informatik/App'
alias inf='cd /home/sturmkoenig/Documents/Informatik/InformatikII'
alias F='cd /home/sturmkoenig/Documents/Physik/Festkörper'
alias config='git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

alias mpi='ssh lauer@login.lfpn.ds.mpg.de'
alias cip='ssh l.lauer@login.physik.uni-goettingen.de'

alias e='exit'
alias r='ranger'
alias ranger='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'
alias rb='source ~/.bashrc'
alias ex='chmod +x'
#alias mpi='[ [ "$(ifconfig | grep -Fq "enx000ec6ce2244")" -eq "0" ] && ssh lauer@epona01 ] || ssh lauer@login.lfpn.ds.mpg.de'
#alias sirona='[ "$(ifconfig | grep -Fq "enx000ec6ce2244")" -eq "0" ] && ssh lauer@sirona01'
alias uf='cd ~/Documents/Physik/Festkörper'
alias us='cd ~/Documents/Physik/Statmech'
alias ui='cd ~/Documents/Informatik/Zettel'
